   .dataEval-container {
    background-color: #202123; 
    padding: 1.5% 5%; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff; 
  }

  .data-top-section{
    margin-bottom: 50px;
  }

  .datasetHead {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    margin-top: 30px;
    margin-bottom: -10px; 
  }
  
  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
  }
  
  .buttonsWrapper {
    display: flex;
  }
  
  .buttonsContainer {
    display: flex;
  }
  
  .data-button-table {
    background-color: #17638c; 
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
    margin: 0 10px; 
    text-align: center;
  }

  .tableContainer {
    width: 100%;
    overflow-x: auto;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  
  .datasetTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  .datasetTable thead th {
    background-color: #3a3838;
    padding: 8px;
    text-align: left;
    position: sticky;  
    top: 0;            
    z-index: 10;       
  }
  
  .datasetTable th,
  .datasetTable td {
    padding: 8px;
    border-left: 1px solid rgb(231, 228, 231);
    white-space: pre-wrap;
    word-wrap: break-word;
    display: table-cell;
    text-align: left;
  }

  .datasetTable td{
    color: black;
  }
  
  .datasetTable th {
    background-color: #3b3939;
  }

  .datasetTable tr:nth-child(odd) {
    background-color: rgb(236, 236, 232);
  }
  
  .datasetTable tr:nth-child(even) {
    background-color: rgb(219, 216, 213);
  }
  
  .scrollableContent {
    overflow-y: auto;
    max-height: calc(100vh - 300px);
  }

  .editableCell {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 6px;
    margin: -1px;
    outline: none;
  }

  .addRow:hover {
    background-color: #656565;
  }

  .savetoServer:hover {
    background-color: #656565;
  }

  .data-delete:hover {
    background-color: #656565;
  }

  .downloadCSV:hover {
    background-color: #656565;
  }
  
  .BelowTableButtonContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    margin-top: 20px;
    background-color: #2a2d32; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    margin: 20px 0; 
    padding: 2%; 
    }

  .data-button{
    background-color: #17638c; 
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    flex-grow: 1; 
    margin: 0 10px; 
    text-align: center;
    
  }

  .data-home{
    background-color: #555; 
    text-decoration: none;
  }

  