.resume-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-position: center; 
  background-attachment: fixed; /* creates parallax scrolling effect */
  min-height: 175vh;
  min-width: 168vh;
}


.resume-header {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #fffbfb;
}

.resume-container {
  width: 80%;
  max-width: 900px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.resume-image {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* adds shadow here */
  border-radius: 10px;
}


.resume-download .download-button {
  position: relative; /* only keeps button within resume section */
  right: -35rem; /* adjust this to move the button horizontally if need be dv */
  display: block; /* make sure this doesn't overlap */
  margin: 0 auto; 
  top: -55rem;
}


.download-button {
  background: linear-gradient(45deg, #2e4a68, #495b6d);
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  text-decoration: none; 
  transition: transform 0.2s, background-color 0.3s ease;
}

.download-button:hover {
  transform: scale(1.05);
  background: linear-gradient(45deg, #495b6d, #2e4a68);
}

@media (max-width: 768px) {
  .resume-container {
    width: 100%;
    padding: 1rem;
  }

  .resume-image {
    width: 100%;
  }

  .download-button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}
