# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp
.pnp.js
.env
package.json
package-lock.json

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
/coverage

# production
/build

# macOS system files
.DS_Store

# environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore Anaconda-related files
.anaconda/
*.lock
*.pid
cache_*

# Python virtual environments and cache
__pycache__/
*.pyc
*.pyo

# Ignore VS Code files
.vscode/
.vscode/extensions/
*.dll

# Ignore Atom files
.atom/

# misc
*.tmp

# Ignore text, CSV, and document files
*.txt
*.csv
*.docx
*.rtf

# Ignore Python and Jupyter Notebook files
*.py
*.ipynb

# Ignore data and cache folders
nltk_data/
miniconda3/
__pycache__/

# Ignore generated or temporary files
*.pkl
*.lock
